@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ececec;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-right: 10px;
    }

    span {
      font-size: 1.6rem;
      font-family: 'Tsukimi Rounded', serif;
      font-weight: 800;
      color: black;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    .details {
      display: flex;
      flex-direction: column;
      text-align: right;

      .username {
        font-size: 1.2rem;
        font-weight: 600;
        color: #555;
      }

      .organization {
        font-size: 1rem;
        font-weight: 400;
        color: #888;
      }
    }

    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 2px solid #ddd;
      object-fit: cover;
    }
  }
}
