<mat-horizontal-stepper [linear]="true" #stepper>
  <ng-template #stepperIcon>
    <mat-icon>multitrack_audio</mat-icon>
  </ng-template>
  <mat-step [label]="'Aufnahme'" [completed]="isStep1Completed">
    <div *ngIf="stepper.selectedIndex === 0">
      <app-upload-step
        [stepper]="stepper"
        (stepCompleted)="markStepCompleted(1)"
      ></app-upload-step>
    </div>
  </mat-step>

  <ng-template #stepperIcon>
    <mat-icon>spatial_audio_off</mat-icon>
  </ng-template>
  <mat-step [label]="'Sprecher Identifizieren'" [completed]="isStep2Completed">
    <div *ngIf="stepper.selectedIndex === 1">
      <app-identify-speakers-step
        [stepper]="stepper"
        (stepCompleted)="markStepCompleted(2)"
      ></app-identify-speakers-step>
    </div>
  </mat-step>

  <ng-template #stepperIcon>
    <mat-icon>edit_note</mat-icon>
  </ng-template>
  <mat-step [label]="'Transkript Bearbeiten'" [completed]="isStep3Completed">
    <div *ngIf="stepper.selectedIndex === 2">
      <app-edit-transcript-step
        [stepper]="stepper"
        (stepCompleted)="markStepCompleted(3)"
      ></app-edit-transcript-step>
    </div>
  </mat-step>

  <ng-template #stepperIcon>
    <mat-icon>edit_note</mat-icon>
  </ng-template>
  <mat-step [label]="'Protokoll Bearbeiten'" [completed]="false">
    <div *ngIf="stepper.selectedIndex === 3">
      <app-edit-protocol-step></app-edit-protocol-step>
    </div>
  </mat-step>

  <!-- https://stackoverflow.com/questions/53132581/override-the-default-icon-from-mat-stepper-angular-material -->

  <ng-template matStepperIcon="number" let-index="index">
    <ng-container
      [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"
    ></ng-container>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <ng-container
      [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"
    ></ng-container>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <ng-container
      [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"
    ></ng-container>
  </ng-template>
  <ng-template matStepperIcon="error" let-index="index">
    <ng-container
      [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"
    ></ng-container>
  </ng-template>
</mat-horizontal-stepper>
<div class="sticky-footer">
  <div class="button-group">
    <button mat-button class="reset-button" (click)="reset()">
      <mat-icon>delete</mat-icon> Zurücksetzen
    </button>

    <button
      mat-button
      *ngIf="stepper.selectedIndex > 0"
      (click)="stepper.previous()"
      class="back-button"
    >
      <mat-icon>arrow_back</mat-icon> Zurück
    </button>

    <button
      mat-button
      *ngIf="stepper.selectedIndex < 3"
      (click)="stepper.next()"
      class="next-button"
      [disabled]="
        (!isStep1Completed && stepper.selectedIndex === 0) ||
        (!isStep2Completed && stepper.selectedIndex === 1) ||
        (!isStep3Completed && stepper.selectedIndex === 2)
      "
    >
      Weiter <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
