mat-horizontal-stepper {
  background-color: #f4f7fc !important;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.mat-horizontal-content-container {
  padding-top: 2rem !important;
  margin: 0 auto;
}
