<div class="container">
  <div *ngIf="isUploading; else content">
    <app-custom-audio-loader></app-custom-audio-loader>
  </div>
  <ng-template #content>
    <label for="fileInput" class="custom-file-label">
      <mat-icon fontIcon="upload"></mat-icon>
      <span id="fileName">{{ selectedFile?.name || 'Datei auswählen' }}</span>
      <input
        type="file"
        id="fileInput"
        accept="audio/wav"
        (change)="onFileSelected($event)"
        hidden
      />
    </label>
    <button
      mat-raised-button
      color="primary"
      class="upload-button"
      (click)="uploadFile(stepper)"
      [disabled]="!selectedFile || isUploading"
    >
      Aufnahme hochladen
    </button>
    <i
      class="material-icons tooltip-icon"
      matTooltip="Laden Sie die Aufzeichnung des Meetings hoch und warten Sie auf den nächsten Schritt"
      matTooltipClass="primary-tooltip"
      matTooltipPosition="below"
    >
      info</i
    >
  </ng-template>
</div>
