/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

:root {
  @include mat.tooltip-overrides(
    (
      supporting-text-color: #efeef2,
      container-shape: 16px,
      supporting-text-line-height: 1.5,
      supporting-text-font: 'Roboto',
      supporting-text-size: 14px,
      supporting-text-weight: 800,
      supporting-text-tracking: 0.5px,
    )
  );
  .primary-tooltip .mdc-tooltip__surface {
    min-width: 400px !important;
    padding: 1rem;
    background-color: #6961fe;
    text-align: center;
  }
  .secondary-tooltip .mdc-tooltip__surface {
    padding: 0.5rem;
    text-align: center;
  }
}
